<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies and TV Shows App</title>
</head>
<body>
    <h1>Movies and TV Shows</h1>
    <a href="api/media_list">Click to See a full list of movies and tv shows</a>
</body>
</html>